@page
@model App.Qtech.Web.Areas.Admin.Pages.ChartOfAccount.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Chart Of Account List</h1>
<div class="bg-info">
    <h3 class="text-danger">@TempData["ErrorMessage"]</h3>
</div>
<div class="bg-info">
    <h3 class="text-success">@TempData["SuccessMessage"]</h3>
</div>
<p class="text-end">
    <a class="btn btn-primary" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                ParentId
            </th>
            <th>
                AccountType
            </th>
            <th>
                IsActive
            </th>
            <th>
                CreatedAt
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ChartOfAccount.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-success">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    Page @(Model.ChartOfAccount.PageNumber) of @(Model.ChartOfAccount.TotalPages)

    <div class="flex text-center items-center space-x-2 my4-">
        @if (Model.ChartOfAccount.PageNumber > 1)
        {
            <a asp-action="Index" asp-route-pageNumber="@(Model.ChartOfAccount.PageNumber - 1)" class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300">Previous</a>
        }

        @for (int i = 1; i <= Model.ChartOfAccount.TotalPages; i++)
        {
            if (i == Model.ChartOfAccount.PageNumber)
            {
                <strong class="px-3 py-1 bg-blue-500 rounded">@i</strong>
            }
            else
            {
                <a asp-action="Index" asp-route-pageNumber="@i" class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300">@i</a>
            }
        }

        @if (Model.ChartOfAccount.PageNumber < Model.ChartOfAccount.TotalPages)
        {
            <a asp-action="Index" asp-route-pageNumber="@(Model.ChartOfAccount.PageNumber + 1)" class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300">Next</a>
        }
    </div>
</div>
<div class="card-footer text-muted">
    Total ChartOfAccounts: @Model.ChartOfAccount.Items.Count
</div>