@page
@model App.Qtech.Web.Areas.Admin.Pages.RoleModuleAccess.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Role Module Access List</h1>

<div class="bg-info">
    <h3 class="text-danger">@TempData["ErrorMessage"]</h3>
</div>
<div class="bg-info">
    <h3 class="text-success">@TempData["SuccessMessage"]</h3>
</div>
<p class="text-end">
    <a class="btn btn-primary" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                RoleName
            </th>
            <th>
                ModuleName
            </th>
            <th>
                HasAccess
            </th>
            <th>
                Operation
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RoleModuleAccess.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasAccess)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Operation)
                </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-success">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-secondary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    Page @(Model.RoleModuleAccess.PageNumber) of @(Model.RoleModuleAccess.TotalPages)

    <div class="flex text-center items-center space-x-2 my4-">
        @if (Model.RoleModuleAccess.PageNumber > 1)
        {
            <a asp-action="Index" asp-route-pageNumber="@(Model.RoleModuleAccess.PageNumber - 1)" class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300">Previous</a>
        }

        @for (int i = 1; i <= Model.RoleModuleAccess.TotalPages; i++)
        {
            if (i == Model.RoleModuleAccess.PageNumber)
            {
                <strong class="px-3 py-1 bg-blue-500 rounded">@i</strong>
            }
            else
            {
                <a asp-action="Index" asp-route-pageNumber="@i" class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300">@i</a>
            }
        }

        @if (Model.RoleModuleAccess.PageNumber < Model.RoleModuleAccess.TotalPages)
        {
            <a asp-action="Index" asp-route-pageNumber="@(Model.RoleModuleAccess.PageNumber + 1)" class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300">Next</a>
        }
    </div>
</div>
<div class="card-footer text-muted">
    Total RoleModuleAccesss: @Model.RoleModuleAccess.Items.Count
</div>
