@page
@model App.Qtech.Web.Areas.Admin.Pages.Voucher.IndexModel
@{
    ViewData["Title"] = "Voucher List";
}

<h2>Vouchers</h2>
<div class="bg-info">
    <h3 class="text-danger">@TempData["ErrorMessage"]</h3>
</div>
<div class="bg-info">
    <h3 class="text-success">@TempData["SuccessMessage"]</h3>
</div>
<p class="text-end">
    <a class="btn btn-primary" asp-page="Create">Create New</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Reference No</th>
            <th>Type</th>
            <th>Account</th>
            <th>Debit</th>
            <th>Credit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model.VoucherRows.Items)
        {
            <tr>
                <td>@row.Date.ToShortDateString()</td>
                <td>@row.ReferenceNo</td>
                <td>@row.Type</td>
                <td>@row.AccountName</td>
                <td>@row.Debit.ToString("F2")</td>
                <td>@row.Credit.ToString("F2")</td>
            </tr>
        }
    </tbody>
</table>

<div>
    Page @(Model.VoucherRows.PageNumber) of @(Model.VoucherRows.TotalPages)

    <div class="flex text-center items-center space-x-2 my4-">
        @if (Model.VoucherRows.PageNumber > 1)
        {
            <a asp-action="Index" asp-route-pageNumber="@(Model.VoucherRows.PageNumber - 1)" class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300">Previous</a>
        }

        @for (int i = 1; i <= Model.VoucherRows.TotalPages; i++)
        {
            if (i == Model.VoucherRows.PageNumber)
            {
                <strong class="px-3 py-1 bg-blue-500 rounded">@i</strong>
            }
            else
            {
                <a asp-action="Index" asp-route-pageNumber="@i" class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300">@i</a>
            }
        }

        @if (Model.VoucherRows.PageNumber < Model.VoucherRows.TotalPages)
        {
            <a asp-action="Index" asp-route-pageNumber="@(Model.VoucherRows.PageNumber + 1)" class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300">Next</a>
        }
    </div>
</div>
<div class="card-footer text-muted">
    Total VoucherRows: @Model.VoucherRows.Items.Count
</div>